* {
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(rgb(0, 0, 0), rgb(333, 333, 333));
    color: #fff;
    font-family: sans-serif;
}

header {
    height: 5vh;
    text-align: center;
    padding: 2% 0;
}

#Weltkarte {
    height: 88vh;
    background: url("../img/Weltkarte.png") center no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 10.7%;
}

.text {
    color: white;
    background: rgba(0, 0, 0, 0.329);
    width: 60%;
    margin: auto;
    text-align: center;
    font-family: fantasy;
    font-size: 2rem;
}

#zweiteSeite {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    padding: 2% 0;
}

#zweiteSeite article div {
    display: flex;
    margin-top: 10%;
}

#zweiteSeite article {
    width: 50%;
}

#zweiteSeite article p {
    font-size: 2rem;
    margin-left: 10%;
    margin-top: 5%;
    text-shadow: 1px 1px #000;
}

#zweiteSeite img {
    width: 30%;
}

.spiel {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.spiel h2 {
    text-shadow: 1px 1px #000;
    margin-bottom: 5%;
    font-size: 3rem;
}

.Flaggen {
    display: flex;
}

.Flaggen article img {
    width: 200px;
    height: 110px;
    margin: 5px;
}

.Flaggen article img:hover {
    border: 2px solid yellow;
}

h3 {
    text-align: center;
    text-shadow: 2px 2px #000;
    font-size: 2rem;
}

#delta1 {
    line-height: 4rem;
    font-weight: 100;
    font-size: 2.5rem;
    letter-spacing: .2rem;
}

/* #my_audio {
    height: 50px;
    display: none;
} */